

body{
    background-color: #1a1b18;
    color:#d1d1c1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    line-height: 1.2;
    margin: 0;
    padding: 20px;

}

.nav-link{
    color: aqua;
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 20px 0;
    border-radius: 10px;

}

.nav-link:hover{
    background-color: #25252530;
    
}

a.nav-link{
    text-decoration: none;
}

#active-link{
    color: red;
    background-color: darkgrey;
    border-radius: 5px;
}

#menu{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
}

#menu li{
    display: inline-block;
    margin: 0 20px;
}




/*
    container principal
*/
main{
    max-width: 1000px;
    margin: 0 auto;
}

