

body{
    background-color: #1a1b18;
    color:#d1d1c1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    line-height: 1.2;
    margin: 0;
    padding: 20px;

}

.nav-link{
    color: #f7ba75;
    font-size: 16px;
    margin: 10px;
    /* text-decoration: none; */
}

a.nav-link{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.nav-link:hover {
  background-color: #ffffff;
  border-radius: 10px;
}

#active-link{
    color: white;
    background-color: rgb(219, 110, 7);
    border-radius: 5px;
}

#menu{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7ba75;
    border-radius: 10px;
}

#menu li{
    display: inline-block;
    margin: 0 20px;
}




/*
    container principal
*/
main{
    max-width: 1000px;
    margin: 0 auto;
}

/* cabecalho
*/

#cabecalho{
    margin: 50;
    padding: 50;
}

/* ul e li alteração
*/
ul li{
    float: left;
}
